* {
    box-sizing: border-box;
}

body {
background-color: rgb(213, 226, 233);
display: flex;
flex-direction: column;
margin: 0;
padding: 0;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
 
nav {
    width: 180px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}


li {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid #555;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 10px;
}

li:hover {
    background-color: #555;
    color: white;
  }

section {
    background-color: blue;
} 

.foot {
    bottom: 0;
}