* {
    box-sizing: border-box;
}



h1 {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
 




li:hover {
    background-color: #555;
    color: white;

  }

section {
    background-color: rgb(224, 206, 224);
} 

.foot {
    bottom: 0;
}

.pic {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border: 5px solid yellow;
}

.about div {
    padding-bottom: 50px;
}

.yy {
    padding-left: 10px;
    padding-right: 10px;

    font-size: 16px;
}


.portfolio {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px solid yellow;
}

.skills {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border: 5px solid yellow;
}



.port {
    color: rgb(97, 42, 42);
    text-decoration: none;
    font-size: 16px;
    background-color: aliceblue;
}

.portA {
    margin-top: 10px;
    margin-bottom: 10px;
}

.portB {
    margin-bottom: 20px;
}





.fa {
    padding: 20px;
    font-size: 20px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.three {
    display: flex;
    background-color: rgb(248, 250, 252);
    justify-content: space-evenly;
    padding-top: 20px;
    padding-right: 50px;

}

@media only screen and (min-width: 320px) {

    body {
        background-color: rgb(119, 191, 230);
        display: flex;
        flex-direction: column;
        
        }



    .contta {
        padding: 0px;
        font-size: 0px;
        text-decoration: none;
        color: black;
    
    }

    li {
        
        padding-bottom: 20px;
        padding-top: 20px;
        width: 100%;
        list-style-type: none;
        border-bottom: 1px solid #555;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black;
        margin-bottom: 10px;
        background-color: white;
    }

    nav {
        width: 180px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    
    }

    .foot {
        margin-top: 100px;
        bottom: 0;
        width: 100%;
        height: auto;
        background-color: rgb(119, 191, 230);
        color: black;
    }


}

@media only screen and (min-width: 768px) {

    body {
        background-color: rgb(119, 191, 230);
        display: flex;
        
        
        }


    .contta {
        padding: 20px;
        font-size: 20px;
        text-decoration: none;
        color: black;
    
    }

    li {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        white-space: nowrap;
        display: inline-block;
        list-style-type: none;
        
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black;
        margin: 0 50px 0 0;
        background-color: white;
    }
   
    .fullpage {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 0;
        margin-left: 0;
        margin-top: 100px;

    }

    .foot {
        margin-top: 300px;
        bottom: 0;
        width: 100%;
        height: auto;
        background-color: rgb(248, 248, 248);
        color: black;
    }

    
    

}